@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.ff-poppins{
    font-family: 'Poppins', sans-serif;
}
.profile-img{
    height: 60px;
    width: 60px;
    border-radius: 20px;
}
.profile{
    display: flex;
}
.bg-newgray{
    background-color:rgb(238, 238, 238);
}