@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.ff-poppins{
    font-family: 'Poppins', sans-serif;
}
.profile-img{
    height: 60px;
    width: 60px;
    border-radius: 20px;
}
.profile{
    display: flex;
}
.bg-newgray{
    background-color:rgb(238, 238, 238);
}
.bg-white{
    background-color: white;
}
.break{
    line-height: 35px;
}
.bg-newgray{
    background-color:rgb(238, 238, 238);
}
.btns{
    border-radius: 50%;
    line-height: 29px;
    font-size:12px;
}
.time{
    padding-top: 20px;
    margin-bottom: 0px;
}
.times{
    margin-top: 16px;
}